@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'area-normal', sans-serif;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display:none;
}

.i-minus {display: none;}

details.mobile-accordion[open] summary > .i-minus {
    display: block;
}

details.mobile-accordion[open] summary > .i-plus {
    display: none;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 125%;
    text-transform: capitalize;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 125%;
    text-transform: capitalize;
}

h4 {
    font-size: 22px;
    font-weight: 800;
    line-height: normal;
}

h5 {
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}

h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

p {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 125%;
}

span {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.heading {
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    line-height: 125%;
    text-transform:  capitalize;
}

.inline-link {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    text-decoration: underline;
}

.body {
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    font-style: normal;
}

.body-light {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

.body-small {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 125%;
}

.btn-txt {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    text-transform: capitalize;
}

.btn-txt-w-icon {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.icon-tooltip {
    position: absolute;
    border-radius: 4px;
    padding: 8px 4px;
    font-size: 10px;
    white-space: nowrap;
    top: -40px;
    left: -5px;
    opacity: 0;
    transition: all ease .4s;
}

.tooltip-toggle:hover .icon-tooltip {
    opacity: 1;
    transition: all ease .4s;
}

.main-layout {
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.mega-menu {
    opacity:0;
    visibility:hidden;
    z-index: -900;
    position: absolute;
    transition: all 0.15s linear 0s;
}

.hoverable {
    position: static;
}

.hoverable:hover .mega-menu {
    opacity:1;
    visibility:visible;
    z-index: 900;
}

.svg-arrow {
    transition: all 0.15s linear 0s;
}

.hoverable:hover .svg-arrow {
    transform: rotate(180deg);
    transition: all 0.15s linear 0s;
}

.bg-gradient-yellow {
    background: radial-gradient(45.35% 45.35% at 50% 50%, rgba(249, 215, 73, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), #FFF;
}

.bg-gradient-blue {
    background: radial-gradient(49.89% 49.89% at 50% 50%, #D7DEF6 0%, #FFF 100%);
}

.bg-gradient-blue-lg {
    background: radial-gradient(50% 50% at 50% 50%, #D7DEF6 0%, #F3F3F5 100%);
}

.bg-gradient-blue-linear {
    background: linear-gradient(180deg, #222E62 0%, #0A2A83 48%, #3E5BAD 100%);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carousel__slide {
    display: flex;
    gap: 24px;
}

@media (max-width: 768px) {
    h1 {font-size: 38px;}
    h2 {font-size: 28px;}
    h5 {font-size: 16px;}

    p {font-size: 16px;}

    .body, .inline-link {
        font-size: 12px;
    }

    .body-small {
        font-size: 14px;
    }
}